CREATE USER {{READONLY_DB_USER}} WITH PASSWORD '{{READONLY_DB_PASSWORD}}';
GRANT CONNECT ON DATABASE {{POSTGRES_DB}} TO {{READONLY_DB_USER}};
GRANT USAGE ON SCHEMA public TO {{READONLY_DB_USER}};
GRANT SELECT ON ALL TABLES IN SCHEMA public TO {{READONLY_DB_USER}};
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT ON TABLES TO {{READONLY_DB_USER}};
