CREATE USER {{DB_USER_READONLY}} WITH PASSWORD '{{DB_PASSWORD_READONLY}}';
GRANT CONNECT ON DATABASE {{POSTGRES_DB}} TO {{DB_USER_READONLY}};
GRANT USAGE ON SCHEMA public TO {{DB_USER_READONLY}};
GRANT SELECT ON ALL TABLES IN SCHEMA public TO {{DB_USER_READONLY}};
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT ON TABLES TO {{DB_USER_READONLY}};
